{% extends "layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}}</title>
{% endblock %}

{% block body %}
    <div class="row" style="width:100%">
        <div class="col-1"></div>
        <div class="col-10">
                <input type="text" id="search" name="search" class="searchBar form-control shadow" style="margin-top:15px;" placeholder="Search..">
        </div>
        <div class="col-1"></div>
    </div>
    <div class="streamList d-flex align-content-around flex-wrap">
    {% for stream in streamList %}
        <div class="streamcard">
            <a href="/view/{{stream.channel.channelLoc}}/">
                <div class="stream shadow card p-2 streamcard-item">
                    <img class="stream-img card-img-top shadow" src="/live{% if stream.channel.record == True %}-rec{% endif %}/{{stream.channel.channelLoc}}.png" onerror="this.src='/static/img/video-placeholder.jpg';">

                    <div class="card-body">
                        <h5 class="card-title">{{stream.streamName}} <img class="blink-image recordDot" src="/static/img/red.png" width="20px" height="20px"></h5>
                        <p class="card-text">
                            <i class="fas fa-hashtag"></i> {{stream.topic|get_topicName}} <br>
                            <i class="fas fa-user-circle"></i> {{stream.channel.owningUser|get_userName}}</p>
                    </div>
                    <div class="card-footer bg-transparent" style="position:relative;top:-10px;">
                        <div class="float-left"><i class="fas fa-users"></i> {{stream.totalViewers}}</div>
                        <div class="float-right"><i class="fas fa-eye"></i> {{stream.currentViewers}}</div>
                    </div>
                </div>

            </a>
        </div>
    {% endfor %}
    </div>
    {% if streamList == [] %}
        <br><br>
        <div class="viewerText d-flex justify-content-center" style="text-align:center;text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);"><h2>No Current Live Streams</h2></div>
    {% endif %}
{% endblock %}

{% block scripts %}
<script>
$('#search').on('input', function(){
    var query = document.getElementById("search").value.toLowerCase();
    $('.streamcard').each(function(){
         var $this = $(this);
         if($this.text().toLowerCase().indexOf(query) === -1)
             $this.closest('.streamcard').hide();
        else $this.closest('.streamcard').show();
    });
});
</script>
{% endblock %}

