<!DOCTYPE html>
<html lang="en" class="{{sysSettings.background}}-BG">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel=stylesheet type=text/css href="/static/css/main.css">
    <link rel=stylesheet type=text/css href="/static/css/slider.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">



    {% block head %}

    {% endblock %}

</head>
<body>

    <div class="page-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
            <a class="navbar-brand" href="/">
                <img src="/static/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                {{sysSettings.siteName}}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/channels">Channels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/topics">Topics</a>
                    </li>
                </ul>
                {% if user.is_authenticated == False %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
                </ul>
                {% if sysSettings.allowRegistration == True %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/register"><i class="far fa-id-card"></i> Register</a>
                    </li>
                </ul>
                {% endif %}
                {% else %}
                <ul class="navbar-nav" style="margin-right:35px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img width="30" height="30" class="userPhoto" src="/images/{{current_user.pictureLocation}}" onerror="this.src='/static/img/user2.png';"> {{current_user.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          {% if user.has_role('Admin') %}
                            <a class="dropdown-item" href="/settings/admin"><i class="fas fa-server"></i> Admin</a>
                          {% endif %}
                          <a class="dropdown-item" href="/settings/channels"><i class="fas fa-video"></i> My Channels</a>
                          <a class="dropdown-item" href="/settings/user"><i class="fas fa-cogs"></i> Settings</a>
                          <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                        </div>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </div>

    <div class="{{sysSettings.background}}-BG" style="padding-bottom:50px;">

    {%- with messages = get_flashed_messages(with_categories=true) -%}
      {% if messages %}
        <div class="justify-content-center">
        {% for category, message in messages %}
            <div class="alert alert-primary" style="width:600px;margin-bottom:20px;">
                <div class="{{ category }}">{{ message }}</div>
            </div>
        {% endfor %}
        </div>
      {% endif %}
    {%- endwith %}

    {% block body %}

    {% endblock %}

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    {% block scripts %}

    {% endblock %}

<script>
    $(window).scroll(function () {
    if ($(window).scrollTop() + $(window).height() == $(document).height()) {
        $('footer').slideDown(300);
    } else {
        $('footer').slideUp(300);
    }
    });
</script>

</body>


</html>