{% extends "layout.html" %}

{% block head %}
    <title>{{sysSettings.siteName}} - {{streamtitle}}</title>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
{% endblock %}

{% block body %}
      <div class="container-fluid" style="padding-bottom:50px;">
          <div class="row {% if stream.channel.chatEnabled == False %}justify-content-md-center{% endif %}">
              <div class="{% if stream.channel.chatEnabled == True %}col-xl-9 col-lg-12{% else %} col-xl-8{% endif %} col-sm-12">
                  <div class="White-BG player">
                    <video id="video" class="shadow videoStream" autoplay controls></video>
                  </div>
                  <div class="White-BG streamInfo shadow">
                      {% if stream.channel.owningUser == current_user.id %}
                      <div class="float-right">
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                              <i class="fas fa-edit"></i>
                          </button>
                      </div>
                      {% endif %}
                      <i class="fas fa-video"></i> <b>{{stream.streamName}}</b><br>
                      <i class="fas fa-hashtag"></i> <b>{{stream.topic|get_topicName}}</b><br>
                      <i class="fas fa-user-circle"></i> {{stream.channel.owningUser|get_userName}} <br>
                      <i class="fas fa-users"></i> {{stream.totalViewers}} <br>
                      <i class="fas fa-eye"></i> <span id="currentViewers">{{stream.currentViewers}}</span> <br>
                  </div>
              </div>
              {% if stream.channel.chatEnabled == True %}
                <div class="col-xl-3 col-lg-12 .d-none .d-xl-block">
                  <div class="chatbox" style="margin-bottom:180px;">
                      <div id="chat" class="chat form-control shadow"></div><br>
                      <input id="text" size="80" class="form-control shadow" {% if current_user.is_authenticated==false %} disabled placeholder="Login to Chat" {% else %} placeholder="Type Message Here..." {% endif %}><br>
                  </div>
                </div>
              {% endif %}
          </div>

          {% if stream.channel.recordedVideo != [] and stream.channel.recordedVideo[0].pending == False %}
          <div class="row justify-content-center" style="padding-bottom:50px;">
              <div class="{% if stream.channel.chatEnabled == True %} col-12 {% else %} col-xl-8{% endif %}">
                  <div class="card shadow" style="margin-top:30px;margin-bottom:30px;">
                      <h5 class="card-header">Other Videos from this Channel</h5>
                      <div class="card-body">
                          <div class="streamList d-flex align-content-around flex-wrap">
                              {% for video in stream.channel.recordedVideo %}
                                  {% if video.pending == False %}
                                    <div class="streamcard">
                                      <a href="/play/{{video.id}}">
                                          <div class="stream shadow card p-2 streamcard-item">
                                            <img class="stream-img card-img-top shadow" src="/videos/{{video.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                                            <div class="card-body">
                                                <h5 class="card-title">{{video.channelName}}</h5><br>
                                                <i class="fas fa-hashtag"></i> <b>{{video.topic|get_topicName}}</b> <br>
                                                <i class="fas fa-calendar-alt"></i> <b>{{video.videoDate|normalize_date}}</b> <br>
                                            </div>
                                            <div class="card-footer bg-transparent" style="position:relative;top:-10px;">
                                                <div class="float-left"><i class="fas fa-users"></i> {{video.views}}</div>
                                                <div class="float-right"><i class="fas fa-clock"></i> {{video.length|hms_format}}</div>
                                            </div>
                                        </div>
                                      </a>
                                    </div>
                                  {% endif %}
                              {% endfor %}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {% endif %}
    </div>

{% if stream.channel.owningUser == current_user.id %}
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Edit Stream Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="/view/{{stream.channel.channelLoc}}/change" method="post">
      <div class="modal-body">

            <h5>Name of the Stream:</h5>
            <input type="text" class="form-control" value="{{stream.streamName}}" name="newStreamName" required>
            <br>
            <h5>Stream Topic:</h5>
            <select class="form-control" name="newStreamTopic" id="channeltopic" style="font-family: FontAwesome, sans-serif;" required >
                {% for topic in topics %}
                <option value={{topic.id}} {% if stream.topic==topic.id %} selected {% endif %}>{{topic.name}}</option>
                {% endfor %}
            </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save Changes">
      </div>
        </form>
    </div>
  </div>
</div>

{% endif %}


{% endblock %}

{% block scripts %}

    <script>
        if(Hls.isSupported()) {
          var video = document.getElementById('video');
          var hls = new Hls();
          hls.loadSource('{{streamURL}}');
          hls.attachMedia(video);
          hls.on(Hls.Events.MANIFEST_PARSED,function() {
            video.play();
        });
        }
        // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
        // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element throught the `src` property.
        // This is using the built-in support of the plain video element, without using hls.js.
        else if (video.canPlayType('application/vnd.apple.mpegurl')) {
          video.src = '{{streamURL}}';
          video.addEventListener('canplay',function() {
            video.play();
          });
        }
    </script>

    <script type="text/javascript" charset="utf-8">
        var conn_options = {
            'sync disconnect on unload':true
        };

        var socket = io();
    </script>

    <script>
        socket.on('connect', function() {
            socket.emit('newViewer', {data: '{{stream.channel.channelLoc}}'});
        });
    </script>

    <script>
        socket.on('disconnect', function() {
            socket.emit('removeViewer', {data: '{{stream.channel.channelLoc}}'});
        });
    </script>


    <script>
        window.addEventListener("beforeunload", function (e) {
            socket.emit('removeViewer', {data: '{{stream.channel.channelLoc}}'});
            return null;
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        socket.on('viewerTotalResponse', function (msg) {
            document.getElementById("currentViewers").innerHTML = msg['data'];
        });
    </script>

    <script>
        $('#text').keypress(function(e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                text = $('#text').val();
                $('#text').val('');
                socket.emit('text', {msg: text, room:'{{stream.channel.channelLoc}}' });
            }
        });
    </script>

    <script>

        socket.on('message', function(data) {
            var today = new Date();
            var h = today.getHours();
            var m = (today.getMinutes() < 10? '0' : '') + today.getMinutes();
            var s = today.getSeconds();
            $('#chat').append('<div class="chatBar-Item shadow slide-in-left"><div class="charBar-Item-Image"><img src="' + data['image'] +'" width="52px" height="52px"></div><div class="chatBar-Item-Text"><b>' + data['user'] + '</b> '+ h + ':' + m + '<br>' + data['msg'] + '</div></div>');
            $('#chat').scrollTop(1000000);
        });
    </script>

    <script>
        setInterval(function() {
          socket.emit('getViewerTotal', {data: "{{stream.channel.channelLoc}}"} );
        },30000 );
    </script>
{% endblock %}