{% extends "layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - User Settings</title>
{% endblock %}

{% block body %}
    <div class="card shadow text-left" style="position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;width:500px;height:750px;">
        <h5 class="card-header text-white bg-dark mb-3">
            Settings
        </h5>
        <div class="card-body text-left">
            <div>
                <form action="/settings/user" class="form-control" enctype=multipart/form-data method="post">
                    <b>User Name</b><br>
                    <input type="text" name="userName" class="form-control" value="{{current_user.username}}" disabled>
                    <b>Email Address</b><br>
                    <input type="text" name="emailAddress" class="form-control" value="{{current_user.email}}" required>
                    <hr>
                    <b>Password</b><br>
                    <input type="password" class="form-control" name="password1">
                    <b>Confirm Password</b>
                    <input type="password" class="form-control" name="password2">
                    <hr>
                    <b>User Picture</b><br>
                    <div class="d-flex justify-content-center">
                        <img width="128" height="128" class="userPhoto" src="/images/{{current_user.pictureLocation}}" onerror="this.src='/static/img/user2.png';">
                    </div>
                    <input type="file" name="photo" class="form-control-file" value="Upload a Photo" style="margin-top:10px;width:384px;"><br>
                    <hr>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}