{% extends "layout.html" %}

{% block head %}
    <title>{{sysSettings.siteName}} - {{video.channelName}}</title>

{% endblock %}

{% block body %}
<div class="">
      <div class="container-fluid">
          <div class="row justify-content-md-center">
              <div class="col-xl-8 col-sm-12">
                  <div class="White-BG player">
                      <video id="video" class="shadow recordedStream" autoplay controls>
                          <source src="{{streamURL}}" type="video/mp4">
                      </video>
                  </div>
                  <div class="White-BG recordedStreamInfo shadow">
                      {% if video.owningUser == current_user.id %}
                      <div class="float-right" style="margin-left:5px;">
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                              <i class="fas fa-trash-alt"></i>
                          </button>

                      </div>
                      <div class="float-right">
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                              <i class="fas fa-edit"></i>
                          </button>
                      </div>
                      {% endif %}
                      <i class="fas fa-video"></i> <b>{{video.channelName}}</b> <br>
                      <i class="fas fa-hashtag"></i> <b>{{video.topic|get_topicName}}</b> <br>
                      <i class="fas fa-calendar-alt"></i> <b>{{video.videoDate|normalize_date}}</b> <br>
                      <i class="fas fa-user-circle"></i> {{video.owningUser|get_userName}} <br>
                      <i class="fas fa-users"></i> {{video.views}} <br>
                  </div>
              </div>


      <br>
      <br>
    {% if video.channel.recordedVideo != [] %}
              <div class="col-xl-8 col-lg-12">
                  <div class="card shadow" style="margin-top:30px;margin-bottom:30px;">
                      <h5 class="card-header">Other Videos from this Channel</h5>
                      <div class="card-body">
                          <div class="streamList d-flex align-content-around flex-wrap">
                              {% for vid in video.channel.recordedVideo %}
                                {% if vid.id != video.id %}
                                <div class="streamcard">
                                  <a href="/play/{{vid.id}}">
                                      <div class="stream shadow card p-2 streamcard-item">
                                        <img class="stream-img card-img-top shadow" src="/videos/{{vid.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                                        <div class="card-body">
                                            <h5 class="card-title">{{vid.channelName}}</h5><br>
                                            <i class="fas fa-hashtag"></i> <b>{{vid.topic|get_topicName}}</b> <br>
                                            <i class="fas fa-calendar-alt"></i> <b>{{vid.videoDate|normalize_date}}</b> <br>
                                        </div>
                                        <div class="card-footer bg-transparent" style="position:relative;top:-10px;">
                                            <div class="float-left"><i class="fas fa-users"></i> {{vid.views}}</div>
                                            <div class="float-right"><i class="fas fa-clock"></i> {{vid.length|hms_format}}</div>
                                        </div>
                                    </div>
                                  </a>
                                </div>
                              {% endif %}
                              {% endfor %}
                          </div>
                      </div>
                  </div>
              </div>

          {% endif %}
          </div>
      </div>
</div>

{% if video.owningUser == current_user.id %}
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Edit Video Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="/play/{{video.id}}/change" method="post">
      <div class="modal-body">

            <h5>Name of the Stream:</h5>
            <input type="text" class="form-control" value="{{video.channelName}}" name="newStreamName" required>
            <br>
            <h5>Stream Topic:</h5>
            <select class="form-control" name="newStreamTopic" id="channeltopic" style="font-family: FontAwesome, sans-serif;" required >
                {% for topic in topics %}
                <option value={{topic.id}} {% if video.topic==topic.id %} selected {% endif %}>{{topic.name}}</option>
                {% endfor %}
            </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save Changes">
      </div>
        </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalTitle">Confirm Video Deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
            <h5>Are you sure you want to delete this video?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <a href="/play/{{video.id}}/delete" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}